@inject NavigationManager navManager
@using BattAnimeZone.Components.Models.Anime
@using BattAnimeZone.Services
@inject AnimeService animeService
@page "/anime/{mal_id:int}"
<link rel="stylesheet" href="/AnimePage.css" />

@if (currentAnime.Mal_id == -1) NavigateToIndex();

<div Style="padding: 2;">
<PageTitle>AnimeView</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Search" TextStyle="TextStyle.H3" TagName="TagName.H1" Style="height: 48px" TextAlign="Radzen.TextAlign.Center"/>
    </RadzenColumn>
</RadzenRow>

<SearchBar></SearchBar>

    <RadzenButton id="relation-button" Click="NavigateToRelationsPage" Text="RELATIONAL ANIMES"></RadzenButton>
<RadzenRow Style="height:500px; flex:auto; Margin-bottom:30px;">
        <RadzenImage Style="display: block; max-width: 300px; max-height: 500px; height:auto; width:auto;" Path="@currentAnime.Image_large_webp_url"></RadzenImage>
        <RadzenColumn Style="min-width:100px; max-width:20vh;">
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; padding-left:10px; padding-right:10px;">Name:<br/>@currentAnime.Title_english<br/>@currentAnime.Title_japanese </RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; padding-left:10px; padding-right:10px;">Episodes:<br />@currentAnime.Episodes</RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; padding-left:10px; padding-right:10px;">Type:<br />@currentAnime.Media_type</RadzenRow>
        </RadzenColumn>
         <RadzenColumn Style="min-width:100px; max-width:20vh;">
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Score:<br />@currentAnime.Score</RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Airing:<br />@currentAnime.Status</RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Aired:<br />@currentAnime.Aired_string</RadzenRow>
         </RadzenColumn>
        <RadzenColumn Style="min-width:100px; max-width:20vh;">
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Popularity:<br />@currentAnime.Popularity</RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Genres:<br />@string.Join(",\n", currentAnime.Genres.Select(g => g.Name))</RadzenRow>
            <RadzenRow Style="height:33%; min-width:100px; padding-top:20px; margin-left:10px; padding-right:10px;">Themes:<br />@string.Join(",\n", currentAnime.Themes.Select(g => g.Name))</RadzenRow>
        </RadzenColumn>



          
             
       
    </RadzenRow>

<RadzenRow Style="width: 100%; Padding-bottom:50px;">
    @currentAnime.Synopsis
</RadzenRow>


</div>
@code{
    [Parameter]
    public int mal_id { get; set; }
    Anime currentAnime;
    IList<Anime> relational_animes;

    protected override async Task OnInitializedAsync()
    {

        getCurrentAnime();
        getRelationalAnimes(currentAnime);
        base.OnInitialized();
    }

    protected async Task getCurrentAnime()
    {
        currentAnime = await animeService.GetAnimeByID(mal_id);

    }

    protected void NavigateToIndex()
    {
        navManager.NavigateTo("./");
    }

    protected void NavigateTo(DataGridCellMouseEventArgs<Anime> anime)
    {   
        navManager.NavigateTo($"/anime/{anime.Data.Mal_id}", forceLoad: true);
    }

    protected void NavigateToRelationsPage()
    {
        navManager.NavigateTo($"/anime/{mal_id}/relations", forceLoad: true);
    }

    protected async Task getRelationalAnimes(Anime anime)
    {
        relational_animes = await animeService.GetRelations(anime);
    }

  


}